@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500s')

// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff
$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

// Additions

#officers 
  padding-bottom: 10px
  margin-top: 50px
  padding-bottom: 50px

#officers-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: center

#avt
  width: 150px
  border-radius: 55%

.officer
  width: 200px
  margin: 5px
  background-color: #FFF
  border-radius: 5px
  padding: 5px

.officer-role
  margin-bottom: 10px

.hero-title
  z-index: 1
  text-shadow: 0em 0.05em 0em #000
  margin: auto
  margin-top: 0px
  margin-bottom: 1%
  font-size: 6.8vw
  font-family: Cabin, medium

.hero-subtitle
  z-index: 1
  text-shadow: 0em 0.05em 0em #000
  margin: auto
  margin-top: 0px
  margin-bottom: 200px
  @media screen and (max-width: 768px)
    font-size: 4.5vw
  font-size: 3vw
  font-family: Cabin, medium

.hero-video
  @media screen and (max-width: 768px)
    display: block !important

.hero.is-fullheight
  min-height: 0 !important

.hero-body
  padding-bottom: 0px !important

.contact-border
    border: 10px solid black

.contact-info
  ul
    display: inline-block
    position: relative
    list-style: none !important
    margin-left: 0 !important
    padding-left: 1.2em
    li::before
      content: '>'
      position: absolute
      left: 0 
      font-weight: 900
      
@import "~bulma"
